body {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(99, 100, 102);
}


.about {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(116, 184, 66);
}

.about-text { 
   margin-left: 20%;
   margin-right: 20%;
}


h2 {
    color: rgb(248, 166, 55);
}