form.register-customer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 70vh;
    align-items: center;
}

.register-customer input {
    all: unset;
    padding: 1em;
    width: fit-content;
    border-radius: 0.5em;
    background-color: rgb(99, 100, 102);
    color: rgb(249, 166, 53);
}

.register-customer button {
    all: unset;
    cursor: pointer;
    border-radius: 0.5em;
    padding: 1em;
    background-color: rgb(99, 100, 102);
    color: rgb(249, 166, 53);
}


.register-customer a:hover,
.register-customer button:hover {
    color: rgb(99, 100, 102);
    cursor: pointer;
    background-color: rgb(248, 166, 55);
}


::placeholder {
    color: rgb(116, 184, 66)
}


.register-customer h2 {
    color: rgb(116, 184, 66)
}